<div class="row small-up-2 medium-up-3 large-up-4">
  <h2>Most recent Products:</h2>
  <% @products_recent.each do |product| %>
    <div class="columns"><%=link_to product do %>
        <%=image_tag product.image.url, size: "medium", class: "thumbnail"%>
      <% end %></div>
  <% end %>
</div>