<div class="orbit" role="region" aria-label="Featured Product Slider" data-orbit data-use-m-u-i="false">
  <ul class="orbit-container" tabindex="0">
    <button class="orbit-previous" aria-label="previous" tabindex="0"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
    <button class="orbit-next" aria-label="next" tabindex="0"><span class="show-for-sr">Next Slide</span>&#9654;</button>
    <% @products_slider.each do |product| %>
      <li class="orbit-slide">
        <%= link_to product do %>
          <%= image_tag product.image.url, :size => "large"%>
        <% end %>
        <h3 class="text-center"><%= product.name %></h3>
        <p class="text-center"><%= product.description %></p>
      </li>
    <% end %>
  </ul>
</div>