.product-container {
  @include row;

  h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  hr {
    margin: 20px auto;
    width: 160px;
  }

  h4 {
    text-align: center;
    color: green;
    margin-bottom: 20px;
  }

  .img-container {
    @include span-columns(12);

    @include media(480px) {
      @include span-columns(6);
      margin-bottom: 10px;
    }

    .image {
      @include span-columns(3);
      margin-top: 10px;
    }
  }

  .details-container {
    @include span-columns(12);
    text-align: center;

    @include media(480px) {
      @include span-columns(6);
      margin-bottom: 10px;
      text-align: left;
    }

    span {
      margin-bottom: 10px;
      display: block;

      font-size: 20px;
    }

    .btn {
      width: 100%;
      color: white;
      display: block;
      background-color: lighten(green, 10);
      padding-top: 10px;
      padding-bottom: 10px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: darken(green, 5);
      }
    }


    h3 {
      font-size: 18px;
    }
  }
}

.reviews-container {
  $review-button-color: desaturate(darken($action-color, 20%), 30%);
  h3 {
    text-align: center;
    font-size: 18px;
  }

  h5 {
    //text-align: center;
  }

  .rating {
    //text-align: center;
    display: block;
    margin-bottom: 10px;
  }

  .review-btn {
    background-color: $review-button-color;
    color: #fff;
    padding: 12px 18px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: darken($review-button-color, 10);
    }

    @include media(max-width 480px) {
      width: 100%;
      text-align: center;
      display: block;
    }
  }
}

.review-form {
  width: 100%;
  text-align: center;

  @include media(480px) {
    width: 50%;
    margin: 0 auto;
  }

  textarea {
    min-height: 150px;
  }

  input[type="submit"] {
    @extend .review-btn;
  }
}